#aboutCard{
    height: 80vh;
    margin: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    overflow: scroll;
}

#aboutCardMobile{
    display: none;
}

#aboutCard .logoArea{
    background-color: white;
    margin: auto;
}

#aboutCard .mainLogo{
    width: 80%;
}

#aboutCard .allContent{
    text-align: left;
    padding:50px 100px 0 50px;
}


#aboutCard .mainTitle{
    font-weight: bold;
    font-size: 50px;
}
#aboutCard .subTitle{
    font-size: 30px;
}
#aboutCard .description{
    padding-top: 50px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    #aboutCard{
        display: none;
    }

    #aboutCardMobile{
        display: block;
        margin: 5px;
        text-align: center;
        border: 1px solid black;
    }
    
    #aboutCardMobile .allContent{
        text-align: center;
        padding:20px 10px 0 10px;
    }
    
    
    #aboutCardMobile .mainTitle{
        font-weight: bold;
        font-size: 40px;
    }
    #aboutCardMobile .subTitle{
        font-size: 25px;
    }
    #aboutCardMobile .description{
        text-align: left;
        font-size: 16px;
    }
}